---
const actions = [
  {
    title: "Hola",
    description: "Hola",
    link: "/",
  },
  {
    title: "Hola2",
    description: "Hola2",
    link: "/",
  },
];
---

<section>
  <section>
    <header>Hola</header>
  </section>
  <section>
    <header>Hola2</header>
  </section>
</section>
