---
import Books from "../icons/Books.astro";
---

<footer class="pt-8 pb-10 bg-blue-900 text-white">
  <div class="grid grid-cols-1 md:grid-cols-3 md:px-60">
    <div class="flex flex-col">
      <h4 class="font-semibold mb-2">ABC PRODEIN</h4>
      <p class="mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, ullam
        accusamus fuga saepe veniam nihil officiis doloribus pariatur eius
        quisquam quos, non ut sunt quaerat placeat eaque. Fugiat, veritatis
        libero.
      </p>
      <div class="flex gap-5 h-full items-end">
        <a
          href=""
          class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
        >
          <Books color={"h-9 w-9 text-black text-blue-900"} />
        </a>
        <a
          href=""
          class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
        >
          <Books color={"h-9 w-9 text-black text-blue-900"} />
        </a>
        <a
          href=""
          class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
        >
          <Books color={"h-9 w-9 text-black text-blue-900"} />
        </a>
      </div>
    </div>
    <div class="text-center">Suscribete</div>
    <div class="grid grid-cols-2">
      <div class="mb-10">
        <h4 class="text-center font-semibold">BOGOTÁ</h4>
        <div class="flex justify-center gap-5">
          <a
            href=""
            class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
          >
            <Books color={"h-9 w-9 text-black text-blue-900"} />
          </a>
          <a
            href=""
            class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
          >
            <Books color={"h-9 w-9 text-black text-blue-900"} />
          </a>
        </div>
      </div>
      <div class="mb-10">
        <h4 class="text-center font-semibold">CALI</h4>
        <div class="flex justify-center gap-5">
          <a
            href=""
            class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
          >
            <Books color={"h-9 w-9 text-black text-blue-900"} />
          </a>
          <a
            href=""
            class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
          >
            <Books color={"h-9 w-9 text-black text-blue-900"} />
          </a>
        </div>
      </div>
      <div class="flex flex-col justify-end pb-2">
        <h4 class="text-center font-semibold mb-2">MEDELLÍN</h4>
        <div class="flex justify-center gap-5">
          <a
            href=""
            class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
          >
            <Books color={"h-9 w-9 text-black text-blue-900"} />
          </a>
          <a
            href=""
            class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
          >
            <Books color={"h-9 w-9 text-black text-blue-900"} />
          </a>
        </div>
      </div>
      <div class="flex flex-col justify-end pb-2">
        <h4 class="text-center font-semibold mb-2">POPAYÁN</h4>
        <div class="flex justify-center gap-5">
          <a
            href=""
            class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
          >
            <Books color={"h-9 w-9 text-black text-blue-900"} />
          </a>
          <a
            href=""
            class="flex items-center justify-center h-10 w-10 bg-white rounded-full"
          >
            <Books color={"h-9 w-9 text-black text-blue-900"} />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
