<div>
  <section class="w-full max-h-[550px] overflow-hidden">
    <img src="../../public/info.webp" alt="" class="w-full md:-mt-45" />
  </section>
  <section class="flex flex-col md:flex-row justify-evenly p-10 border-1 border-black">
    <div class="border-1 border-black">
      <h2><span>¿Quienes</span> <strong>Somos?</strong></h2>
      <p>
        ABC Prodein es una organización social internacional, sin ánimo de
        lucro...
      </p>
      <p>En 1994 llegamos a Colombia para continuar el legado...</p>
      <a href="#" class="btn">Para saber más de nosotros →</a>
    </div>
    <div class="border-1 border-black flex justify-center mt-5 md:mt-auto">
      <div class="rounded-full border-1 border-gray-500 flex justify-center items-center p-4">
        <div class="rounded-full border-2">
          <img
            src="../../public/family.webp"
            alt="Familia ABC Prodein"
            class="rounded-full w-50 h-50 md:w-100 md:h-100 object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</div>
